h2{
    text-align: center;
    margin:auto;
    margin-top: 1em;
    margin-bottom: 1.1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: rgba(255, 255, 255, 0.7);
}

.firstItem{
    padding-top: 1em;
    padding-bottom: 2em;
    background-image: url("./mainPic.jpeg");
    width: 100%;
}


.form{
    width: 80%;
    display: flex;
    margin:auto;
    border: 2px solid black;
    font-family: 'Courier New', Courier, monospace;
    flex-direction: column;
    background-color: aliceblue;
}

/* #Registrar{
    display: flex;
    flex-direction: row;
} */

.intro{
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 2em;
}

.icon{
    height: 20px;
    width: 20px;  
}

.form *{
    overflow-x: hidden;
}

.formContentHolder{
    flex-direction: column;
}

.formContent{
    margin: auto
}

.rowHolder{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.row{
    margin-left: 2%;
    margin-right: 2%;
}

.form textarea{
    resize: none;
}

.TA{
    border: none;
    display: relative;
}

.TA:focus{
    outline: none;
    /* border: none; */
}

#Desc{
    border-radius: 0.3em;
}

#Desc:focus{

    background-color: rgba(200,200,200,0.3);
}

.descHolder::after{
    content:"";
    width: 100%;
    height: 1px;
    background-color: black;
}

.descHolder:hover::after{
    content: "";
    animation: appear 0.6s;
    background-color: blue;
}


@keyframes appear{
    0%{width: 0; transform: translateX(0);}
    50%{transform: translateX(1%);}
    100%{width: 100%; transform: translateX(0)}
}

.submitButton{
    margin-right:10%;
    margin-left: auto;
    margin-bottom: 1.5em;
    width: 20%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.submitButton > input{
    border: none;
    border-radius: 0.3em;
    padding: 10px;
}

.submitButton > input:hover{
    background-color: rgba(51, 217, 178, 1) ;
    animation: pulse-green 2s infinite;
}

@keyframes pulse-green {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
    }
  }

/* .submitButton > input:hover{
    
} */